

body{
    display: -webkit-box;
    height: 8000px;
    width:100%;
    -webkit-box-orient: vertical;
    background-color: black;
    margin: 0 auto;
    padding: 0;

}


.screen{
    width:100%;
    margin: 40px 0;
    padding: 0 auto;
    height: 1000px;
    background-color: white;
    overflow: hidden;
}



/*--------------------------------header---------------------------------*/

.header{
    background: black;
    background-size: cover;

}


.plane{
    display: -webkit-box;
    align:center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    height: 100%;
    width: 100%;
    background: url(../img/dbgrid.png);

}

#headerline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align : center;
    font-size: 8em;
}


#headerline > #main{

    color: gold;
    margin: 0 auto;
    padding: 0;

}

#headerline > #aside{
    color: #FFFF99;
    font-size: 0.2em;
    margin: 0 auto;
    padding: 0;
}


.plane >canvas{
    width :500px;
    margin: 0 auto;
    padding: 0;
}




#goTo{
    position:relative;
    left : -100px;
    background: black;
    box-shadow: 0 0 3em gold,inset 0 0 2em gold;
    width: 100000px;
    height: 180px;
    opacity: 0.1;

    font-family: monospace, serif; font-size: 3em;color: white;
    -webkit-transition: all 0.6s ease;
}

#goTo > p{
    position: relative;
    top:60px;
}

#goTo:hover{
    opacity: 0.5;
}



/*---------------------------------------------------------introduction----------------------------------------*/


.introduction{


}

#introductionPlane{
    background: url(../img/dbgrid.png);
    display: -webkit-box;
    align:center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    height: 100%;
    width: 100%;
}

.items{
    display: -webkit-box;
    align:center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 90%;
    width: 100%;

}


.item{
    width:20%;
    height:70%;
    background: white;
    margin: 80px;
    border:medium groove gold;
    border-radius: 2em;
}




.item > div{
    display: -webkit-box;
    align:center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}



.item > div > p{

    font-size: 1.5em;
    font-style: italic;
    text-shadow: 2px 0px 0px gold;
    color: black;
    padding:0 10%;
    margin: 10px ;

}




/*---------------------------------------------------------game----------------------------------------*/


.game{

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width:100%;
    height:100%;
    background: black;
}


.gamePlant{

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}




/*---------------------------------------------------------floor----------------------------------------*/


.tail{
    display: -webkit-box;
    align:center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 100%;
    width: 100%;
}

#oneMoreSay{

    width:100%;
    height: 60%;

}



#foot{
    width:100%;
    height: 40%;
    background:black;


    display: -webkit-box;
    align:center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}


.logo_foot{
    -webkit-box-flex:1;
}


.worker{
    margin: 0 0;
    padding:0 auto;
    -webkit-box-flex:2;
    height: 90%;
    border-left: 1px solid gold;

}



/*---------------------------------------------------------other----------------------------------------*/


.toPlay{
    padding:0 auto;

}
.toPlay > p{

    margin: 0 auto;
}